doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F5 test task
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")
    script(src="script.js" defer)
    link(rel="stylesheet", href="style/style.css")
  body.body
    include loyeers/header.pug
    hr.header__hr
    include loyeers/main.pug
    include loyeers/job-openings.pug
    include loyeers/work.pug
    include loyeers/users.pug
    include loyeers/news.pug
    include loyeers/explore.pug
    include loyeers/footer.pug

