doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title F5 test task
    link(rel="stylesheet", href="style/style.css")
  body.body
    include loyeers/header.pug
    hr.header__hr
    include loyeers/main.pug
    include loyeers/job-openings.pug

