@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,600;1,600&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import 'https://unpkg.com/swiper/swiper-bundle.min.css';
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul, ul[role=list], ol[role=list] {
  list-style-type: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
}

img, picture, svg, video, canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input, button, textarea, select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  html:focus-within *, html:focus-within *::before, html:focus-within *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}
body, html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  color: #3e404c;
  letter-spacing: 0.02em;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
}

.container2 {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}

.body {
  display: flex;
  flex-direction: column;
}

.dn {
  display: none;
}

.dnm {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 171%;
  color: #3e404c;
  letter-spacing: -0.02em;
}
.header__nav {
  padding-left: 20px;
}
.header__nav_list {
  display: flex;
  gap: 12px;
}
.header__nav_item {
  padding: 10px 16px;
  cursor: pointer;
}
.header__nav_item:hover {
  color: rgb(68, 63, 222);
}
.header__btn {
  display: flex;
  gap: 10px;
}
.header__btn_post {
  background-color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 16px;
  width: 100px;
  letter-spacing: -0.02em;
  margin-right: 5px;
}
.header__btn_login {
  background-color: rgb(68, 63, 222);
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  letter-spacing: -0.02em;
}
.header__hr {
  border: none;
  border-top: 1px solid #f8f8fa;
}
.header__burger {
  display: none;
}

.main {
  margin-top: 87px;
  margin-bottom: 63px;
}
.main__new {
  display: flex;
  gap: 12px;
  padding: 8px;
  background-color: #f8f8fa;
  max-width: 298px;
  align-items: center;
}
.main__new span {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  color: rgb(68, 63, 222);
  letter-spacing: 0.02em;
  background-color: #fff;
  padding: 4px 8px;
}
.main__new p {
  padding-left: 4px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 133%;
  color: #030407;
  letter-spacing: 0;
}
.main__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 23px;
}
.main__title h2 {
  max-width: 473px;
  font-family: "Archivo", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  color: #030407;
  letter-spacing: 0em;
}
.main__title p {
  max-width: 540px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  color: #3e404c;
  letter-spacing: 0;
}
.main__search {
  margin-top: 98.7px;
}
.main__search_icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  outline: 1px solid #ebebef;
  transition: 0.3s;
  max-width: 720px;
  padding: 13px;
}
.main__search_icon:hover, .main__search_icon:focus-within {
  outline: 1px solid rgb(68, 63, 222);
  fill: rgb(68, 63, 222);
}
.main__search_icon:hover svg, .main__search_icon:focus-within svg {
  transition: 0.3s;
  fill: rgb(68, 63, 222);
}
.main__search_svg {
  position: absolute;
  left: 15px;
  fill: #84889A;
}
.main__search_building {
  position: relative;
  top: -35px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__search_building1 {
  display: block;
}
.main__search_building2 {
  display: none;
}
.main__input_search {
  border: none;
  outline: none;
  background-color: #fff;
  padding-left: 37px;
  width: 100%;
}
.main__input_search::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #999;
  letter-spacing: 0.02em;
}
.main__input_search::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #999;
  letter-spacing: 0.02em;
}
.main__input_search:focus .main__search_icon {
  border: 1px solid rgb(68, 63, 222);
}
.main__btn_search {
  background-color: rgb(68, 63, 222);
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  letter-spacing: -0.02em;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 171%;
  color: #fff;
  letter-spacing: -0.02em;
}
.main__btn_search:disabled svg {
  fill: #b2b3bd;
}
.main__company-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 34px;
  padding: 16px 28px;
}
.main__company-list svg:hover path {
  transition: 0.3s;
  fill: rgb(68, 63, 222);
}

.jo {
  background-color: #f8f8fa;
  padding: 39px 0 64px;
}
.jo__title {
  display: flex;
  flex-direction: column;
  gap: 16.5px;
}
.jo__title h3 {
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #030407;
  letter-spacing: -0.003em;
}
.jo__title_info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.jo__title_info p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: #3e404c;
  letter-spacing: -0.015em;
}
.jo__title_info button {
  text-align: center;
  background-color: rgb(68, 63, 222);
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  letter-spacing: -0.02em;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 171%;
  color: #fff;
  letter-spacing: -0.02em;
}
.jo__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  margin-top: 58px;
}
@media (max-width: 1024px) {
  .jo__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .jo__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.jo__card {
  display: flex;
  flex-direction: column;
  gap: 23px;
  background-color: #fff;
  cursor: pointer;
  padding: 29px;
  outline: 1px solid #f8f8fa;
  transition: outline-color 0.3s;
}
.jo__card:hover {
  outline: 4px solid rgb(68, 63, 222);
}
.jo__card_info {
  display: flex;
  gap: 14px;
  align-items: center;
}
.jo__card_logo {
  padding: 12px;
  border: 1px solid #f8f8fa;
}
.jo__card_name p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  color: #030407;
  letter-spacing: -0.02em;
}
.jo__card_name span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: #606476;
  letter-spacing: -0.02em;
}
.jo__card_spec {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: #030407;
  letter-spacing: 0.02em;
}
.jo__card_tags {
  display: flex;
  gap: 8px;
}
.jo__card_tags p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: rgb(68, 63, 222);
  letter-spacing: 0;
  padding: 6px 12px;
  background-color: #f3f3fc;
}
.jo__card_tags span {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: #c98b40;
  letter-spacing: 0;
  padding: 6px 12px;
  background-color: #fef7f1;
}
.jo__card_footer {
  display: flex;
  gap: 24px;
}
.jo__card_location, .jo__card_money {
  display: flex;
  align-items: center;
  gap: 5px;
}
.jo__card_location p, .jo__card_money p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: #606476;
  letter-spacing: -0.03em;
}
.jo__card_location img {
  padding-left: 4px;
}

.work {
  padding: 64px 0;
}
.work__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.work__title_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.work__title_info h3 {
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #030407;
  letter-spacing: 0em;
}
.work__title_info p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: #606476;
  letter-spacing: -0.02em;
}
.work__title_slide-btn {
  display: flex;
  gap: 22px;
}
.work__btn_left {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.63769 7.58858L10.0017 2.22455L8.58769 0.810547L0.809692 8.58858L8.58769 16.3666L10.17 14.9526L4.63769 9.58858H16.8097V7.58858H4.63769Z' fill='%23D6D7E0' /%3E%3C/svg%3E");
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  border: 1px solid #ebebef;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
.work__btn_right {
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9817 7.58858L7.61769 2.22455L9.03169 0.810547L16.8097 8.58858L9.03169 16.3666L7.769 14.9526L12.9817 9.58858H0.809692V7.58858H12.9817Z' fill='%23030407' /%3E%3C/svg%3E");
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  border: 1px solid #ebebef;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}
.work__slider {
  margin-top: 58px;
  overflow-x: scroll;
  scrollbar-width: none;
}
.work__slider_img {
  border: 1px solid #f8f8fa;
  padding: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 56px;
  height: 56px;
}
.work__slider_card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f8f8fa;
  padding: 41px;
  max-width: 390px;
  width: 100%;
  cursor: pointer;
  gap: 24px;
}
.work__slider_card-logo {
  display: flex;
  gap: 14px;
  align-items: center;
}
.work__slider_card-logo h6 {
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: #030407;
  letter-spacing: 0;
}
.work__slider_card-info {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: #3e404c;
  letter-spacing: -0.02em;
}
.work__slider_card-emp {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
  color: #246b49;
  letter-spacing: 0;
  padding: 10px 15px;
  background-color: #f1f8f4;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
}
.work__person {
  margin-top: 127px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 104px;
}
.work__person_img {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__person_img img {
  max-width: 518px;
}
.work__person_img p {
  background-image: url("data:image/svg+xml,%3Csvg width='366' height='50' viewBox='0 0 366 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-0.000305176 0.837891H365.61L329.94 54.3418H35.669L-0.000305176 0.837891Z' fill='%23F8F8FA' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 365px;
  padding: 15.5px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: #3e404c;
  letter-spacing: 0;
}
.work__person_info {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.work__person_info h3 {
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #030407;
  letter-spacing: 0em;
}
.work__person_info p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: #3e404c;
  letter-spacing: -0.02em;
}
.work__person_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work__person_item {
  display: flex;
  gap: 16px;
  background-color: #f8f8fa;
  padding: 16px;
}
.work__person_item-icon {
  padding: 16px;
  background-color: #fff;
  border: 1px solid #ebebef;
}
.work__person_item-desc p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 180%;
  color: #030407;
  letter-spacing: -0.02em;
}
.work__person_item-desc small {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: #606476;
  letter-spacing: -0.02em;
}

.users {
  background-color: #f8f8fa;
  padding-bottom: 64px;
}
.users__container {
  overflow: hidden;
}
.users h3 {
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #030407;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 64px;
}
.users__slider {
  display: flex;
  gap: 145px;
  margin-top: 72px;
}
.users__slider_img {
  padding-bottom: 10px;
}
.users__info {
  display: flex;
  max-width: 450px;
  flex-direction: column;
  justify-content: space-between;
}
.users__info_desc {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.users__info_desc h5 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  color: #3e404c;
  letter-spacing: 0em;
}
.users__info_desc p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: rgb(68, 63, 222);
  letter-spacing: -0.02em;
}
.users__info_btn {
  display: flex;
  gap: 14px;
}
.users__info_btn-left {
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  border: 1px solid #ebebef;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.63769 7.58858L10.0017 2.22455L8.58769 0.810547L0.809692 8.58858L8.58769 16.3666L10.17 14.9526L4.63769 9.58858H16.8097V7.58858H4.63769Z' fill='%23D6D7E0' /%3E%3C/svg%3E");
}
.users__info_btn-right {
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  border: 1px solid #ebebef;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9817 7.58858L7.61769 2.22455L9.03169 0.810547L16.8097 8.58858L9.03169 16.3666L7.769 14.9526L12.9817 9.58858H0.809692V7.58858H12.9817Z' fill='%23030407' /%3E%3C/svg%3E");
}

.news__title {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 56px;
}
.news__title h3 {
  font-family: "Archivo", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
  color: #030407;
  letter-spacing: -0.003em;
}
.news__title_btn {
  display: flex;
  gap: 20px;
}
.news__btn_left {
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  border: 1px solid #ebebef;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.63769 7.58858L10.0017 2.22455L8.58769 0.810547L0.809692 8.58858L8.58769 16.3666L10.17 14.9526L4.63769 9.58858H16.8097V7.58858H4.63769Z' fill='%23D6D7E0' /%3E%3C/svg%3E");
}
.news__btn_right {
  cursor: pointer;
  text-align: center;
  width: 48px;
  height: 48px;
  border: 1px solid #ebebef;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9817 7.58858L7.61769 2.22455L9.03169 0.810547L16.8097 8.58858L9.03169 16.3666L7.769 14.9526L12.9817 9.58858H0.809692V7.58858H12.9817Z' fill='%23030407' /%3E%3C/svg%3E");
}
.news__slider {
  position: relative;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
}
.news__slider_item {
  flex-shrink: 0;
  border: 1px solid #ebebef;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 9px;
  align-items: center;
  max-width: 390px;
  width: 100%;
}
.news__slider_item button {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: #f8f8fa;
  width: 324px;
  margin-bottom: 22px;
  cursor: pointer;
}
.news__slider_item-img {
  max-width: 372px;
}
.news__slider_item-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 24px;
}
.news__slider_item-info small {
  padding: 6px 12px;
  background-color: #f3f3fc;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: rgb(68, 63, 222);
  letter-spacing: 0;
}
.news__slider_item-info h5 {
  font-family: "Archivo", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  color: #030407;
  letter-spacing: -0.02em;
}
.news__slider_item-info p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
  color: #606476;
  letter-spacing: 0.07em;
  position: relative;
  margin-left: 12px;
  text-transform: uppercase;
}
.news__slider_item-info p::before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #606476;
  position: absolute;
  top: 40%;
  left: -12px;
}

.explore {
  margin-top: 128px;
  background-color: #f8f8fa;
  padding: 80px 0 85px;
  position: relative;
}
.explore__info {
  max-width: 490px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.explore__info h4 {
  font-family: "Archivo", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 140%;
  color: #030407;
  letter-spacing: 0em;
}
.explore__info p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 180%;
  color: #3e404c;
  letter-spacing: -0.02em;
}
.explore__info_logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ebebef;
  background-color: #fff;
  max-width: 1072px;
  width: 100%;
  padding: 16px 0;
}
.explore__search_icon {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 58%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  outline: 1px solid #ebebef;
  transition: 0.3s;
  width: 720px;
  padding: 13px;
}
.explore__search_icon:hover, .explore__search_icon:focus-within {
  outline: 1px solid rgb(68, 63, 222);
  fill: rgb(68, 63, 222);
}
.explore__search_icon:hover svg, .explore__search_icon:focus-within svg {
  transition: 0.3s;
  fill: rgb(68, 63, 222);
}
.explore__search_svg {
  position: absolute;
  left: 15px;
  fill: #84889A;
}
.explore__search_building {
  position: relative;
  top: -35px;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
}
.explore__input_search {
  border: none;
  outline: none;
  background-color: #fff;
  padding-left: 37px;
  width: 100%;
}
.explore__input_search::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #999;
  letter-spacing: 0.02em;
}
.explore__input_search::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #999;
  letter-spacing: 0.02em;
}
.explore__input_search:focus .main__search_icon {
  border: 1px solid rgb(68, 63, 222);
}
.explore__btn_search {
  background-color: rgb(68, 63, 222);
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 32px;
  letter-spacing: -0.02em;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 171%;
  color: #fff;
  letter-spacing: -0.02em;
}
.explore__btn_search:disabled svg {
  fill: #b2b3bd;
}

.footer {
  margin-top: 105px;
  padding-bottom: 185px;
}
.footer__hr {
  border-top: 1px solid #ebebef;
}
.footer__cont {
  display: flex;
  flex-direction: column;
  margin-top: 74px;
  gap: 46px;
}
.footer__cont img {
  margin: 0 auto;
  max-width: 169px;
}
.footer__cont_info {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__cont_pages {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.footer__cont_pages p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 180%;
  color: #84889a;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.footer__cont_nav-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__cont_nav-list li {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  color: #030407;
  letter-spacing: -0.02em;
}
.footer__cont_nav-list li:hover {
  color: rgb(68, 63, 222);
  transition: 0.3s;
}
.footer__cont_sign {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 450px;
}
.footer__cont_sign p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 180%;
  color: #84889a;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.footer__cont_form {
  display: flex;
  gap: 16px;
}
.footer__cont_form input {
  height: 48px;
  width: 319px;
  border: 1px solid #ebebef;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 180%;
  color: #999;
  letter-spacing: 0em;
}
.footer__cont_form input::-moz-placeholder {
  padding-left: 19px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 180%;
  color: #999;
  letter-spacing: 0em;
}
.footer__cont_form input::placeholder {
  padding-left: 19px;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 180%;
  color: #999;
  letter-spacing: 0em;
}
.footer__cont_form button {
  width: 115px;
  padding: 12px 20px;
  background-color: rgb(68, 63, 222);
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  letter-spacing: -0.02em;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 171%;
  color: #fff;
  letter-spacing: -0.02em;
}

@media (max-width: 767px) {
  .dn {
    display: block;
  }
  .dnm {
    display: none;
  }
  .container {
    max-width: 343px;
    margin: 0 calc(50% - 171.5px);
  }
  .container2 {
    max-width: 343px;
  }
  .header {
    padding: 21px 0;
  }
  .header__nav {
    display: none;
  }
  .header__login {
    display: none;
  }
  .header__burger {
    display: block;
    padding: 11px;
    border: 1px solid #ebebef;
  }
  .main {
    margin-top: 64px;
    margin-bottom: 0;
  }
  .main__new span {
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 133%;
    color: rgb(68, 63, 222);
    letter-spacing: 0.08em;
  }
  .main__new p {
    padding-left: 4px;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 133%;
    color: #030407;
    letter-spacing: 0;
  }
  .main__title {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  .main__title h2 {
    max-width: 473px;
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    color: #030407;
    letter-spacing: 0em;
  }
  .main__title p {
    max-width: 540px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    color: #3e404c;
    letter-spacing: 0;
  }
  .main__search {
    margin-top: 32px;
  }
  .main__search_icon {
    flex-direction: column;
    gap: 12px;
    align-items: stretch;
    margin-bottom: 32px;
  }
  .main__search_svg {
    left: 13px;
    top: 20px;
  }
  .main__search_building {
    position: static;
  }
  .main__search_building1 {
    display: none;
  }
  .main__search_building2 {
    display: block;
  }
  .main__input_search {
    height: 44px;
  }
  .main__company-list {
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
    margin-top: 34px;
    padding: 16px 14px;
  }
  .jo {
    background-color: #f8f8fa;
    padding: 32px 0 58px;
    margin-top: 15px;
  }
  .jo__title {
    gap: 16px;
  }
  .jo__title_info {
    flex-wrap: wrap;
    gap: 32px;
  }
  .jo__title_info button {
    width: 100%;
  }
  .jo__card {
    gap: 13px;
    padding: 25px 29px;
  }
  .jo__card_footer {
    flex-direction: column;
    gap: 3px;
  }
  .work {
    padding: 64px 0 30px;
  }
  .work__title {
    flex-direction: column;
    align-items: stretch;
    gap: 28px;
  }
  .work__title_slide-btn {
    gap: 14px;
  }
  .work__slider {
    margin-top: 24px;
  }
  .work__slider_card {
    padding: 33px;
  }
  .work__person_img {
    display: none;
  }
  .work__person {
    margin-top: 64px;
  }
  .work__person_info {
    gap: 11px;
  }
  .work__person_info p:first-child {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 180%;
    color: rgb(68, 63, 222);
    letter-spacing: 0.08em;
  }
  .work__person_info h3 {
    margin-bottom: 15px;
  }
  .work__person_list {
    margin-top: 32px;
    gap: 16px;
  }
  .work__person_item {
    align-items: flex-start;
  }
  .work__person_item-icon {
    min-width: 56px;
    height: 56px;
  }
  .users {
    padding-bottom: 32px;
  }
  .users__container p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 180%;
    color: rgb(68, 63, 222);
    letter-spacing: 0.08em;
    text-align: center;
    margin-top: 34px;
  }
  .users__container h3 {
    text-wrap: pretty;
    margin-top: 12px;
  }
  .users__info {
    position: relative;
    gap: 44px;
  }
  .users__info_desc {
    gap: 16px;
  }
  .users__info_btn {
    position: absolute;
    right: 0;
    top: 0px;
    gap: 12px;
  }
  .users__slider_monkey {
    max-width: 72px;
    padding: 14px;
    background-color: #fff;
    border: 1px solid #ebebef;
  }
  .news__title {
    margin-top: 32px;
    margin-bottom: 13px;
    flex-wrap: wrap;
    gap: 22px;
  }
  .news__slider {
    margin-bottom: 64px;
  }
  .explore {
    margin-bottom: 32px;
    padding-bottom: 0;
  }
  .explore__info {
    margin-bottom: 65px;
  }
  .explore__info_logo {
    max-width: 317px;
  }
  .explore__search_icon {
    position: static;
    transform: none;
    flex-wrap: wrap;
    max-width: 337px;
    align-items: normal;
    gap: 22px;
    justify-content: center;
  }
  .explore__btn_search {
    width: 100%;
  }
  .footer {
    padding-bottom: 32px;
    margin-top: 0;
  }
  .footer__hr {
    margin-bottom: 42px;
  }
  .footer__cont_info {
    flex-direction: column;
    gap: 40px;
  }
  .footer__cont_form {
    flex-direction: column;
    align-items: center;
  }
  .footer__cont_form input {
    width: 100%;
  }
  .footer__cont_form button {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */