section.jo.container
  .jo__title
    h3 Explore the latest job openings
    .jo__title_info
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus,<br>pharetra leo et, efficitur tortor. Fusce vel convallis magna.
      button.jo__title_btn See All Jobs
  .jo__cards
    var cards = [{
      logo: 'img/dribble.png',
      company: 'Dribble',
      date: 'October 25, 2022',
      spec: 'Front End Developer',
      tag1: 'Marketing',
      tag2: 'Part Time',
      location: 'San Antonio',
      money: '$ 130k-160k',
      url: '#'
    }]