main.main.container
  .main__new
    span NEW
    p Stay connected to get upcoming jobs
  .main__title
    h1 Find the most exciting jobs in tech
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et. Sign in or sign up to get started!
  .main__search
    .main__search_input
    