section.users
  .container2
    h3 See what users say about<br>our job platform
    .users__slider
      .users__info
        .users__info_desc
          h5 “Lorem ipsum dolor sit amet,<br>consectetur adipiscing elit. Sed a mi<br>rhoncus, pharetra leo et, efficitur tortor.<br>Fusce vel convallis magna”
          p David Sinclair - Senior Frontend Developer
        .users__info_btn
          button.users__info_btn-left
          button.users__info_btn-right
      .users__slider_img
        img(src="img/senior.jpg")