- const companies = [{ logo: 'img/dribble.svg', company: 'Dribble', info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui mollis metus gravida tristique.', epm: '65 Employees'},{ logo: 'img/paypal.svg', company: 'Paypal', info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui mollis metus gravida tristique.', epm: '6000 Employees'}, { logo: 'img/spotify.svg', company: 'Spotify', info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui mollis metus gravida tristique.', epm: '2000 Employees'}, { logo: 'img/slack.svg', company: 'Slack', info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at dui mollis metus gravida tristique.', epm: '400 Employees'}]
section.work.container
  .work__title
    .work__title_info
      h3 Work with exciting companies
      p Discover more than 1,600 open positions
    .work__title_slide-btn
      button.work__btn_left
      button.work__btn_right
  .work__slider.swiper-container
    .swiper-wrapper
      each card in companies
        .swiper-slide.work__slider_card
          .work__slider_card-logo
            .work__slider_img
              img(src=card.logo)
            h6= card.company
          p.work__slider_card-info= card.info
          p.work__slider_card-emp= card.epm
  .work__person
    .work__person_img
      img(src="img/man_its_ok.jpg")
      p Partnership with Glassdoor and LinkedIn
    .work__person_info
      p.dn WHY CHOOSE US
      h3 Build a custom membership site with locked content.
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a mi rhoncus, pharetra leo et, efficitur tortor. Fusce vel convallis magna,<br class ='dn'>sit amet pulvinar diam. Sed laoreet feugiat consequat.
      .work__person_list
        for item in [1, 2, 3]
          .work__person_item
            .work__person_item-icon
              img(src="img/two_user.svg")
            .work__person_item-desc
              p Add a feature point here
              small Lorem ipsum dolor sit amet, consectetur adipiscing elit.


